<%- include('partials/header') %>


<main id="site-main" class="grad-bg" style="height: 100vh;">
    <div class="container">
        <table class="table">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th>Name</th>
                    <th>Exercise</th>
                    <th>Weight</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                    <tr style="text-align: center;">
                        <td><%=workouts.name %></td>
                        <td><%=workouts.exercise%></td>
                        <td><%=workouts.weight%></td>
                        <td><%=workouts.comment%></td>
                        <td><%=workouts.date.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})%></td>
                    </tr>
            </tbody>
        </table>
        <div class="text-center d-flex flex-column">
            <a href="/new" class="mb-1">
                <%-include("partials/btn_new_PR")-%>
            </a>
            <a href="/pr-feed">
                <%-include("partials/btn_feed")-%>
            </a>
        </div>
    </div>
</main>




<%- include('partials/footer') %>