<%-include("partials/header")%>

<main id="site-main" style="height: 70vh;">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <a href="/new">
                <span>New Workout  <i class="fa fa-plus-circle"></i></span>
            </a>
        </div>
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th>Name</th>
                        <th>Exercise</th>
                        <th>Weight</th>
                        <th>Comment</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < workouts.length; i++) { %>
                        <tr style="text-align: center;">
                            <td><%=workouts[i].name %></td>
                            <td><%=workouts[i].exercise%></td>
                            <td><%=workouts[i].weight%></td>
                            <td><%=workouts[i].comment%></td>
                            <td><%=workouts[i].date%></td>
                            <td>
                                <a href="/workout/<%=workouts[i]._id%>" class="btn border-shadow delete">
                                    <span><i class="fas fa-eye"></i></span>
                                </a>
                                <a href="/workout/<%=workouts[i]._id%>/edit" class="btn border-shadow update">
                                    <span><i class="fas fa-edit"></i></span>
                                </a>
                                <form action="/workout/<%=workouts[i]._id%>?_method=DELETE" method="POST">
                                    <button class="btn border-shadow delete">
                                        <span><i class="fas fa-eraser"></i></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </form>
    </div>
</main>


<%-include("partials/footer")%>