<%-include("partials/header")%>

<main id="site-main" style="height: 100vh;" class="d-flex align-items-center bg-light has-bg-img">
    
    <div class="container text-center text-light">
        <h1 class="mb-3 text-dark">Workout Feed</h1>
        <form action="/" method="POST">
            <table class="table table-dark table-striped table-hover table-bordered rounded rounded-3 overflow-hidden" >
                <thead class="thead-light">
                    <tr style="text-align: center;" class="p-4">
                        <th class="p-3 fs-5">Name</th>
                        <th class="p-3 fs-5">Exercise</th>
                        <th class="p-3 fs-5">Weight</th>
                        <th class="p-3 fs-5">Comment</th>
                        <th class="p-3 fs-5">Date</th>
                        <th class="p-3 fs-5">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < workouts.length; i++) { %>
                        <tr style="text-align: center;">
                            <td><%=workouts[i].name %></td>
                            <td><%=workouts[i].exercise%></td>
                            <td><%=workouts[i].weight%></td>
                            <td><%=workouts[i].comment%></td>
                            <td><%=workouts[i].date.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"}) %></td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a href="/workout/<%=workouts[i]._id%>" class="btn border-shadow delete" title="View Workout Details">
                                        <span><i class="fa-sharp fa-solid fa-info text-light"></i></span>
                                    </a>
                                    <a href="/workout/<%=workouts[i]._id%>/edit" class="btn border-shadow update" title="Edit Workout">
                                        <span><i class="fa-regular fa-pen-to-square text-light"></i></span>
                                    </a>
                                    <form action="/workout/<%=workouts[i]._id%>?_method=DELETE" method="POST" title="Delete Workout">
                                        <button class="btn border-shadow delete">
                                            <span><i class="fa-regular fa-trash-can text-light"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </form>
        <div class="text-center box-nav">
            <form action="/new">
                <a href="/new">
                    <button class="btn btn-large btn-dark" >New Workout  <i class="fa fa-plus-circle"></i></button>
                </a>
            </form>
        </div>
        <!-- <img src="images/bg.png" alt="" class="bg-img"> -->
    </div>
</main>


<%-include("partials/footer")%>