<%-include("partials/header")%>

<main id="site-main" class="grad-bg table-div-height-feed d-flex align-items-center bg-light has-bg-img">
    <div class="container text-light">
        <h1 class="mb-3 text-danger text-center"><i class="fa-solid fa-bars-progress"></i> PR Feed</h1>
        <form action="/" method="POST">
            <div class="table-responsive px-2">
                <table class="table w-auto mx-auto table-dark table-striped table-hover rounded rounded-3 overflow-hidden" >
                    <thead class="thead-light">
                        <tr class="p-4">
                            <th class="py-3 px-4 fs-5">Date</th>
                            <th class="py-3 px-2 px-md-4 fs-5 text-left">Name</th>
                            <th class="py-3 px-2 px-md-4 fs-5 text-left">Exercise</th>
                            <th class="py-3 px-2 fs-5">Weight (lb)</th>
                            <th class="py-3 px-2 fs-5 text-left d-none d-sm-table-cell">Comment</th>
                            <th class="py-3 px-2 fs-5 d-none d-sm-table-cell"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < Math.min(10, workouts.length) ; i++) { %>
                            <tr>
                                <td class="px-4"><%=workouts[i].date.toLocaleDateString('en-us', { year:"2-digit", month:"2-digit", day:"2-digit"}) %></td>
                                <td class="px-2 px-md-4 text-left">
                                    <span>
                                        <img src="https://i.imgur.com/eUeSGrx.png" class="img-rounded" width="35"> <%=workouts[i].name %>
                                    </span>
                                </td>
                                <td class="px-2 px-md-4 text-left"><%=workouts[i].exercise%></td>
                                <td class="px-2"><%=workouts[i].weight%></td>
                                <td class="px-2 text-left d-none d-sm-table-cell"><%=workouts[i].comment%></td>
                                <td class="px-2 text-center d-none d-sm-table-cell">
                                    <div class="d-flex justify-content-center align-items-start">
                                        <a href="/workout/<%=workouts[i]._id%>" class="btn border-shadow delete" title="View Workout Details">
                                            <span><i class="fa-sharp fa-solid fa-info text-light"></i></span>
                                        </a>
                                        <a href="/workout/<%=workouts[i]._id%>/edit" class="btn border-shadow update" title="Edit Workout">
                                            <span><i class="fa-regular fa-pen-to-square text-light"></i></span>
                                        </a>
                                        <form action="/workout/<%=workouts[i]._id%>?_method=DELETE" method="POST" title="Delete Workout">
                                            <button class="btn border-shadow delete">
                                                <span><i class="fa-regular fa-trash-can text-light"></i></span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </form>
        <div class="text-center p-2">
            <form action="/new">
                <a href="/new">
                    <%-include("partials/btn_new_PR")-%>
                </a>
            </form>
        </div>
    </div>
</main>


<%-include("partials/footer")%>